option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 4000
    NODE_ENV: prod
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R nodejs:nodejs /tmp/.npm